<% content_for :head do %>
  <%= javascript_include_tag "login" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t ".heading" %></h1>
<% end %>

<div id="login_login">
  <%= form_tag({ :action => "login" }, { :id => "login_form" }) do %>
    <%= hidden_field_tag("referer", h(params[:referer])) %>

    <p class='deemphasize'><%= t ".no account" %> <%= link_to t(".register now"), :action => :new, :referer => params[:referer] %></p>

  <% end %>
  </div>

  <%= form_tag(auth_path(:provider => "openid"), :id => "openid_login_form") do %>
    <div id="loginForm" class="standard-form">

      <fieldset class='form-divider'>

        <ul class='clearfix' id="login_auth_buttons">
         <% if Settings.key?(:google_auth_id) -%>
            <%= link_to auth_path(:provider => "google"),{:class => "auth_button", :title => t("users.login.auth_providers.google.title")} do  %> 
              <%= t('.login_with_google') %>                
              <%= image_tag("google.png", :alt => t("users.login.auth_providers.google.alt")) %> 
            <%   end %>  
          <% end -%>

        </ul>

      </fieldset>

    </div>

  <% end %>

</div>
