<div id="content" class="<%= content_for :content_class %>">
  <% if content_for? :content %>
    <%= yield :content %>
  <% else %>
    <%= render :partial => "layouts/flash", :locals => { :flash => flash } %>
    <% if content_for? :heading %>
      <div class="content-heading">
        <div class="content-inner">
          <%= yield :heading %>
        </div>
      </div>
    <% end %>
    <div class="content-body">
      <div class="content-inner">
        <%= yield %>
      </div>
    </div>
    <div class="kartta-footer-opaque">
      <div class="kartta-footer-overlay-container">
        <div class="kartta-footer-background">
          <div id="kartta-footer-content"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
